CREATE DATABASE Project_Manager
GO
USE Project_Manager
GO
/****** Объект:  Table [dbo].[Documentation]    Дата создания скрипта: 09.10.2026 21:26:31 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documentation](
	[id_Documentation] [int] IDENTITY(1,1) NOT NULL,
	[id_Status] [int] NOT NULL,
	[id_Project] [int] NOT NULL,
	[Progress] [nvarchar](50) NULL,
	[Cost] [money] NULL,
	[Profit] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Documentation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Eventt]    Дата создания скрипта: 09.10.2026 21:26:31 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventt](
	[id_Event] [int] IDENTITY(1,1) NOT NULL,
	[id_User] [int] NOT NULL,
	[Namee] [nvarchar](150) NOT NULL,
	[Descriptionn] [nvarchar](150) NOT NULL,
	[Start_Datee] [date] NOT NULL,
	[End_Date] [date] NOT NULL,
	[Place] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Event] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[News]    Дата создания скрипта: 09.10.2026 21:26:31 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[id_News] [int] IDENTITY(1,1) NOT NULL,
	[Heading] [nvarchar](200) NOT NULL,
	[Descriptionn] [nvarchar](200) NOT NULL,
	[Publication_Date] [date] NOT NULL,
	[id_User] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_News] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Post]    Дата создания скрипта: 09.10.2026 21:26:31 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[id_Post] [int] IDENTITY(1,1) NOT NULL,
	[Namee] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Post] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Priorityy]    Дата создания скрипта: 09.10.2026 21:26:31 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priorityy](
	[id_Priority] [int] IDENTITY(1,1) NOT NULL,
	[Namee] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Priority] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Production_Project]    Дата создания скрипта: 09.10.2026 21:26:31 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Production_Project](
	[id_Project] [int] IDENTITY(1,1) NOT NULL,
	[Namee] [nvarchar](100) NOT NULL,
	[Descriptionn] [nvarchar](200) NULL,
	[Start_Datee] [date] NOT NULL,
	[End_Datee] [date] NULL,
	[Budget] [money] NOT NULL,
	[id_Status] [int] NOT NULL,
	[id_Resource] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Project] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Project_Team]    Дата создания скрипта: 09.10.2026 21:26:31 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project_Team](
	[id_Project_Team] [int] IDENTITY(1,1) NOT NULL,
	[id_Project] [int] NULL,
	[id_User] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Project_Team] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Resource_Type]    Дата создания скрипта: 09.10.2026 21:26:31 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resource_Type](
	[id_Resource_Type] [int] IDENTITY(1,1) NOT NULL,
	[Namee] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Resource_Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Resourcee]    Дата создания скрипта: 09.10.2026 21:26:31 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resourcee](
	[id_Resource] [int] IDENTITY(1,1) NOT NULL,
	[id_Resource_Type] [int] NULL,
	[Namee] [nvarchar](50) NULL,
	[Descriptionn] [nvarchar](250) NULL,
	[Availabilityy] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Resource] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Rolee]    Дата создания скрипта: 09.10.2026 21:26:31 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rolee](
	[id_Role] [int] IDENTITY(1,1) NOT NULL,
	[Namee] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Statuss]    Дата создания скрипта: 09.10.2026 21:26:31 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuss](
	[id_Status] [int] IDENTITY(1,1) NOT NULL,
	[Namee] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Tasks]    Дата создания скрипта: 09.10.2026 21:26:31 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[id_Tasks] [int] IDENTITY(1,1) NOT NULL,
	[id_Project] [int] NOT NULL,
	[Namee] [nvarchar](100) NOT NULL,
	[Descriptionn] [nvarchar](200) NULL,
	[id_Priority] [int] NOT NULL,
	[Start_Datee] [date] NOT NULL,
	[End_Datee] [date] NULL,
	[id_Status] [int] NOT NULL,
	[Time_Spent] [nvarchar](25) NULL,
	[id_User] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Tasks] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Userr]    Дата создания скрипта: 09.10.2026 21:26:31 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Userr](
	[id_User] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Namee] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[id_Post] [int] NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Number_Phone] [nvarchar](50) NOT NULL,
	[Passwordd] [nvarchar](50) NOT NULL,
	[id_Role] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Documentation] ON 

INSERT [dbo].[Documentation] ([id_Documentation], [id_Status], [id_Project], [Progress], [Cost], [Profit]) VALUES (1, 1, 1, N'60', 20000.0000, 0.0000)
INSERT [dbo].[Documentation] ([id_Documentation], [id_Status], [id_Project], [Progress], [Cost], [Profit]) VALUES (2, 1, 2, N'80', 15600.0000, 0.0000)
INSERT [dbo].[Documentation] ([id_Documentation], [id_Status], [id_Project], [Progress], [Cost], [Profit]) VALUES (3, 2, 3, N'47', 9800.0000, 0.0000)
SET IDENTITY_INSERT [dbo].[Documentation] OFF
GO
SET IDENTITY_INSERT [dbo].[Eventt] ON 

INSERT [dbo].[Eventt] ([id_Event], [id_User], [Namee], [Descriptionn], [Start_Datee], [End_Date], [Place]) VALUES (1, 2, N'???? ???????????? ? ??????', N'????????? ?? ?????? ? Yandex Cloud: ????????????? ???????? ???? ? ??????????? ????????????', CAST(N'2025-06-15' AS Date), CAST(N'2025-06-15' AS Date), N'???????? (?????? ? ??????)')
INSERT [dbo].[Eventt] ([id_Event], [id_User], [Namee], [Descriptionn], [Start_Datee], [End_Date], [Place]) VALUES (2, 2, N'????? «?????????? 1? ? CRM»', N'?????? ?????? ?? API-??????????? ??? ???????????????? ??????', CAST(N'2025-05-26' AS Date), CAST(N'2025-05-26' AS Date), N'?????????-??? (1 ????)')
INSERT [dbo].[Eventt] ([id_Event], [id_User], [Namee], [Descriptionn], [Start_Datee], [End_Date], [Place]) VALUES (3, 2, N'???? ?? PowerShell ??? ???????', N'???????? ????????? ???????? ??? ????????????? ?????????? ???????????', CAST(N'2025-06-20' AS Date), CAST(N'2025-06-22' AS Date), N'???????????? ????? IT-??????')
SET IDENTITY_INSERT [dbo].[Eventt] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([id_News], [Heading], [Descriptionn], [Publication_Date], [id_User]) VALUES (1, N'?????? ?????? API ??? ?????????? 1?', N'???????????? ????????? ?????? ??? ?????????? API, ??????? ???????? ????? ??????? ????? 1? ? CRM. ???????????? ???????? 25.06.2025.', CAST(N'2025-05-01' AS Date), 2)
INSERT [dbo].[News] ([id_News], [Heading], [Descriptionn], [Publication_Date], [id_User]) VALUES (2, N'??????? ?? Microsoft 365', N'???????? ???????? ??????? ? ?????? ?????????? 15.10.2024. ??? ?????????? ??????? ?????????? ? ????????????? Wiki', CAST(N'2025-04-28' AS Date), 2)
INSERT [dbo].[News] ([id_News], [Heading], [Descriptionn], [Publication_Date], [id_User]) VALUES (3, N'???????? ??????????? ?????? ?????? ? ??????', N'? Oracle VirtualBox ?????????? 5 ???????? ?? ??? ?????????????', CAST(N'2025-05-15' AS Date), 2)
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

INSERT [dbo].[Post] ([id_Post], [Namee]) VALUES (1, N'???????????')
INSERT [dbo].[Post] ([id_Post], [Namee]) VALUES (2, N'???????????')
INSERT [dbo].[Post] ([id_Post], [Namee]) VALUES (3, N'????????? ????????')
SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[Priorityy] ON 

INSERT [dbo].[Priorityy] ([id_Priority], [Namee]) VALUES (1, N'??????')
INSERT [dbo].[Priorityy] ([id_Priority], [Namee]) VALUES (2, N'???????')
INSERT [dbo].[Priorityy] ([id_Priority], [Namee]) VALUES (3, N'???????')
SET IDENTITY_INSERT [dbo].[Priorityy] OFF
GO
SET IDENTITY_INSERT [dbo].[Production_Project] ON 

INSERT [dbo].[Production_Project] ([id_Project], [Namee], [Descriptionn], [Start_Datee], [End_Datee], [Budget], [id_Status], [id_Resource]) VALUES (1, N'??????????? ????????? ??????????????', N'???????????? ?????????? ???????????? ??? ????????? ??????????????????', CAST(N'2025-04-01' AS Date), CAST(N'2024-05-26' AS Date), 1500000.0000, 1, 1)
INSERT [dbo].[Production_Project] ([id_Project], [Namee], [Descriptionn], [Start_Datee], [End_Datee], [Budget], [id_Status], [id_Resource]) VALUES (2, N'????????? ??????? ?????????????', N'????????????? VMware vSphere ??? ???????? ??????????? ????', CAST(N'2025-03-10' AS Date), CAST(N'2024-06-10' AS Date), 800000.0000, 1, 2)
INSERT [dbo].[Production_Project] ([id_Project], [Namee], [Descriptionn], [Start_Datee], [End_Datee], [Budget], [id_Status], [id_Resource]) VALUES (3, N'???????? ???????? ??????? ? ??????', N'??????? ????????????? ????? ?? Microsoft 365', CAST(N'2025-02-24' AS Date), CAST(N'2025-06-05' AS Date), 450000.0000, 2, 3)
SET IDENTITY_INSERT [dbo].[Production_Project] OFF
GO
SET IDENTITY_INSERT [dbo].[Project_Team] ON 

INSERT [dbo].[Project_Team] ([id_Project_Team], [id_Project], [id_User]) VALUES (1, 1, 6)
INSERT [dbo].[Project_Team] ([id_Project_Team], [id_Project], [id_User]) VALUES (2, 2, 4)
INSERT [dbo].[Project_Team] ([id_Project_Team], [id_Project], [id_User]) VALUES (3, 3, 5)
SET IDENTITY_INSERT [dbo].[Project_Team] OFF
GO
SET IDENTITY_INSERT [dbo].[Resource_Type] ON 

INSERT [dbo].[Resource_Type] ([id_Resource_Type], [Namee]) VALUES (1, N'?????????? ???????')
INSERT [dbo].[Resource_Type] ([id_Resource_Type], [Namee]) VALUES (2, N'??????????? ???????')
INSERT [dbo].[Resource_Type] ([id_Resource_Type], [Namee]) VALUES (3, N'???????? ???????')
SET IDENTITY_INSERT [dbo].[Resource_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Resourcee] ON 

INSERT [dbo].[Resourcee] ([id_Resource], [id_Resource_Type], [Namee], [Descriptionn], [Availabilityy]) VALUES (1, 1, N'?????? Dell PowerEdge R750', N'?????????????????????? ?????? ??? ????????????? ??????????? ????? ? ????????????? ??? ??????', N'????????????')
INSERT [dbo].[Resourcee] ([id_Resource], [id_Resource_Type], [Namee], [Descriptionn], [Availabilityy]) VALUES (2, 2, N'???????? Microsoft Visual Studio Enterprise', N'IDE ??? ?????????? ? ??????? ??, ??????? ??????????? ??? ???????????? ? ????????? ????', N'???????? ??? ????????????? ? ????????????? ?? ???????')
INSERT [dbo].[Resourcee] ([id_Resource], [id_Resource_Type], [Namee], [Descriptionn], [Availabilityy]) VALUES (3, 3, N'Yandex Cloud Compute Instance', N'??????????? ?????? ? ?????? ??? ???????? ???-?????????? ? ???????? ????', N'??????????? DevOps, ?????????? ?? ??????')
SET IDENTITY_INSERT [dbo].[Resourcee] OFF
GO
SET IDENTITY_INSERT [dbo].[Rolee] ON 

INSERT [dbo].[Rolee] ([id_Role], [Namee]) VALUES (1, N'?????????')
INSERT [dbo].[Rolee] ([id_Role], [Namee]) VALUES (2, N'????????')
INSERT [dbo].[Rolee] ([id_Role], [Namee]) VALUES (3, N'?????????????')
SET IDENTITY_INSERT [dbo].[Rolee] OFF
GO
SET IDENTITY_INSERT [dbo].[Statuss] ON 

INSERT [dbo].[Statuss] ([id_Status], [Namee]) VALUES (1, N'? ????????')
INSERT [dbo].[Statuss] ([id_Status], [Namee]) VALUES (2, N'? ????????')
INSERT [dbo].[Statuss] ([id_Status], [Namee]) VALUES (3, N'?????????')
SET IDENTITY_INSERT [dbo].[Statuss] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([id_Tasks], [id_Project], [Namee], [Descriptionn], [id_Priority], [Start_Datee], [End_Datee], [id_Status], [Time_Spent], [id_User]) VALUES (1, 1, N'?????? ???????? ?? API-???????', N'???? ?????? ?????????????????? ???????? API', 3, CAST(N'2025-04-02' AS Date), CAST(N'2025-04-04' AS Date), 3, N'08:00:00', 6)
INSERT [dbo].[Tasks] ([id_Tasks], [id_Project], [Namee], [Descriptionn], [id_Priority], [Start_Datee], [End_Datee], [id_Status], [Time_Spent], [id_User]) VALUES (2, 2, N'?????????? core-?????? API', N'?????????? ??????? ??????? ? ??????? ?? C#', 2, CAST(N'2025-02-25' AS Date), CAST(N'2025-04-25' AS Date), 1, N'22:00:00', 4)
INSERT [dbo].[Tasks] ([id_Tasks], [id_Project], [Namee], [Descriptionn], [id_Priority], [Start_Datee], [End_Datee], [id_Status], [Time_Spent], [id_User]) VALUES (3, 3, N'???????????? API ?????????? ? Microsoft 365', N'???????? ?????? ???????? ????????', 1, CAST(N'2025-02-26' AS Date), CAST(N'2025-04-30' AS Date), 2, N'21:00:00', 5)
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
SET IDENTITY_INSERT [dbo].[Userr] ON 

INSERT [dbo].[Userr] ([id_User], [Surname], [Namee], [Patronymic], [id_Post], [Email], [Number_Phone], [Passwordd], [id_Role]) VALUES (1, N'Developer', N'Developer', N'Developer', 1, N'Employee@mail.ru', N'+7(777)353-23-25', N'Employee123', 1)
INSERT [dbo].[Userr] ([id_User], [Surname], [Namee], [Patronymic], [id_Post], [Email], [Number_Phone], [Passwordd], [id_Role]) VALUES (2, N'Manager', N'Manager', N'Manager', 4, N'Manager@mail.ru', N'+7(777)353-23-26', N'Manager123', 2)
INSERT [dbo].[Userr] ([id_User], [Surname], [Namee], [Patronymic], [id_Post], [Email], [Number_Phone], [Passwordd], [id_Role]) VALUES (3, N'Admin', N'Admin', N'Admin', 5, N'Admin@mail.ru', N'+7(777)353-23-27', N'Admin123', 3)
SET IDENTITY_INSERT [dbo].[Userr] OFF
GO
ALTER TABLE [dbo].[Documentation]  WITH CHECK ADD FOREIGN KEY([id_Project])
REFERENCES [dbo].[Production_Project] ([id_Project])
GO
ALTER TABLE [dbo].[Documentation]  WITH CHECK ADD FOREIGN KEY([id_Status])
REFERENCES [dbo].[Statuss] ([id_Status])
GO
ALTER TABLE [dbo].[Eventt]  WITH CHECK ADD FOREIGN KEY([id_User])
REFERENCES [dbo].[Userr] ([id_User])
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD FOREIGN KEY([id_User])
REFERENCES [dbo].[Userr] ([id_User])
GO
ALTER TABLE [dbo].[Production_Project]  WITH CHECK ADD FOREIGN KEY([id_Resource])
REFERENCES [dbo].[Resourcee] ([id_Resource])
GO
ALTER TABLE [dbo].[Production_Project]  WITH CHECK ADD FOREIGN KEY([id_Status])
REFERENCES [dbo].[Statuss] ([id_Status])
GO
ALTER TABLE [dbo].[Project_Team]  WITH CHECK ADD FOREIGN KEY([id_Project])
REFERENCES [dbo].[Production_Project] ([id_Project])
GO
ALTER TABLE [dbo].[Project_Team]  WITH CHECK ADD FOREIGN KEY([id_User])
REFERENCES [dbo].[Userr] ([id_User])
GO
ALTER TABLE [dbo].[Resourcee]  WITH CHECK ADD FOREIGN KEY([id_Resource_Type])
REFERENCES [dbo].[Resource_Type] ([id_Resource_Type])
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD FOREIGN KEY([id_Priority])
REFERENCES [dbo].[Priorityy] ([id_Priority])
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD FOREIGN KEY([id_Project])
REFERENCES [dbo].[Production_Project] ([id_Project])
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD FOREIGN KEY([id_Status])
REFERENCES [dbo].[Statuss] ([id_Status])
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD FOREIGN KEY([id_User])
REFERENCES [dbo].[Userr] ([id_User])
GO
ALTER TABLE [dbo].[Userr]  WITH CHECK ADD FOREIGN KEY([id_Post])
REFERENCES [dbo].[Post] ([id_Post])
GO
ALTER TABLE [dbo].[Userr]  WITH CHECK ADD FOREIGN KEY([id_Role])
REFERENCES [dbo].[Rolee] ([id_Role])
GO
